body{
  font-size: 18px;
}
.info > h2{
  font-size: 24px;
}
.info > p{
  float: left;
  line-height: .5in;
  width: 50%;
  font-size: 18px;
}
.info{
  display: inline-block;
  position: relative;
  padding-bottom: 10px;
}
.info > img{
  vertical-align: top;
  position: relative;
  float: right;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li{
  float: left;
  left: 0;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active){
  background-color: #111;
}

.active{
  background-color: #0fcc17;
}
