body{
  font-size: 18px;
}
h1{
  text-align: center;
}
.info h2{
  font-size: 24px;
}
.info p{
  line-height: .5in;
  width: 50%;
  font-size: 18px;
}
.info{
  display: block;
  padding-bottom: 10px;
}
